[MESSAGES CONTROL]
disable=
    missing-function-docstring,
    missing-class-docstring,
    too-many-locals,
    too-many-branches,
    too-many-statements,
    too-many-return-statements,
    broad-exception-caught
