openapi: 3.0.3
info:
  title: Productive.io API
  description: |-
    REST API - Productive.io (project management, time tracking, invoicing).
    Spec: JSON API (https://jsonapi.org/)
    Docs: https://developer.productive.io

    Auth headers on every request:
      X-Auth-Token: <token>       (Settings > API integrations)
      X-Organization-Id: <org_id>

    Pagination: page[number] (default 1), page[size] (default 30, max 200)
    Rate limits: 100 req/10s | 4000 req/30min | Reports: 10 req/30s
  version: 2.0.0
servers:
- url: https://api.productive.io/api/v2
security:
- ApiKeyAuth: []
  OrgIdHeader: []
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Auth-Token
    OrgIdHeader:
      type: apiKey
      in: header
      name: X-Organization-Id
paths:
  /api/v2/automatic_invoicing_rules:
    get:
      summary: Get automatic invoicing rules GET
      operationId: getAutomaticInvoicingRules
      tags:
      - Automatic Invoicing Rules
      parameters:
      - name: filter[budget_id]
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Filter by budget_id (array)
      - name: filter[creator_id]
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Filter by creator_id (array)
      - name: filter[id]
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Filter by id (array)
      - name: page[number]
        in: query
        required: false
        schema:
          type: integer
          default: 1
      - name: page[size]
        in: query
        required: false
        schema:
          type: integer
          default: 30
          maximum: 200
      - name: sort
        in: query
        required: false
        schema:
          type: string
          enum:
          - created_at
          - id
          - -created_at
          - -id
        description: Sort field. Prefix - for descending.
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data: {}
                  meta:
                    type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Validation error
    post:
      summary: Create an automatic invoicing rule POST
      operationId: postAutomaticInvoicingRules
      tags:
      - Automatic Invoicing Rules
      parameters: []
      responses:
        '201':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data: {}
                  meta:
                    type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Validation error
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                    attributes:
                      type: object
                    relationships:
                      type: object
  /api/v2/automatic_invoicing_rules/{id}:
    get:
      summary: Gets an automatic invoicing rule GET
      operationId: getAutomaticInvoicingRulesId
      tags:
      - Automatic Invoicing Rules
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: id of the resource
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data: {}
                  meta:
                    type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Validation error
    patch:
      summary: Update an automatic invoicing rule PATCH
      operationId: patchAutomaticInvoicingRulesId
      tags:
      - Automatic Invoicing Rules
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: id of the resource
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data: {}
                  meta:
                    type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Validation error
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                    attributes:
                      type: object
                    relationships:
                      type: object
    delete:
      summary: Deletes an automatic invoicing rule DELETE
      operationId: deleteAutomaticInvoicingRulesId
      tags:
      - Automatic Invoicing Rules
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: id of the resource
      responses:
        '204':
          description: Deleted
        '404':
          description: Not found
  /api/v2/approval_policy_assignments:
    get:
      summary: Get approval policy assignments GET
      operationId: getApprovalPolicyAssignments
      tags:
      - Approval Policy Assignments
      parameters:
      - name: filter[id]
        in: query
        required: false
        schema:
          type: string
        description: Filter by id (string)
      - name: filter[target_id]
        in: query
        required: false
        schema:
          type: string
        description: Filter by target_id (string)
      - name: filter[target_type]
        in: query
        required: false
        schema:
          type: string
        description: Filter by target_type (string)
      - name: page[number]
        in: query
        required: false
        schema:
          type: integer
          default: 1
      - name: page[size]
        in: query
        required: false
        schema:
          type: integer
          default: 30
          maximum: 200
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data: {}
                  meta:
                    type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Validation error
    post:
      summary: Creates the approval policy assignment POST
      operationId: postApprovalPolicyAssignments
      tags:
      - Approval Policy Assignments
      parameters: []
      responses:
        '201':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data: {}
                  meta:
                    type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Validation error
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                    attributes:
                      type: object
                    relationships:
                      type: object
  /api/v2/approval_policy_assignments/{id}:
    get:
      summary: Gets the approval policy assignment GET
      operationId: getApprovalPolicyAssignmentsId
      tags:
      - Approval Policy Assignments
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: id of the resource
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data: {}
                  meta:
                    type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Validation error
    delete:
      summary: Deletes the approval policy assignment DELETE
      operationId: deleteApprovalPolicyAssignmentsId
      tags:
      - Approval Policy Assignments
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: id of the resource
      responses:
        '204':
          description: Deleted
        '404':
          description: Not found
  /api/v2/approval_policy_assignments/:
    patch:
      summary: Updates the approval policy assignment PATCH
      operationId: patchApprovalPolicyAssignments
      tags:
      - Approval Policy Assignments
      parameters: []
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data: {}
                  meta:
                    type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Validation error
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                    attributes:
                      type: object
                    relationships:
                      type: object
  /api/v2/approval_workflows/{id}:
    get:
      summary: Gets the approval workflow GET
      operationId: getApprovalWorkflowsId
      tags:
      - Approval Workflows
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: id of the resource
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data: {}
                  meta:
                    type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Validation error
    patch:
      summary: Updates the approval workflow PATCH
      operationId: patchApprovalWorkflowsId
      tags:
      - Approval Workflows
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: id of the resource
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data: {}
                  meta:
                    type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Validation error
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                    attributes:
                      type: object
                    relationships:
                      type: object
    delete:
      summary: Deletes the approval workflow DELETE
      operationId: deleteApprovalWorkflowsId
      tags:
      - Approval Workflows
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: id of the resource
      responses:
        '204':
          description: Deleted
        '404':
          description: Not found
  /api/v2/approval_workflows:
    post:
      summary: Creates the approval workflow POST
      operationId: postApprovalWorkflows
      tags:
      - Approval Workflows
      parameters: []
      responses:
        '201':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data: {}
                  meta:
                    type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Validation error
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                    attributes:
                      type: object
                    relationships:
                      type: object
  /api/v2/approval_policies:
    get:
      summary: Get approval policies GET
      operationId: getApprovalPolicies
      tags:
      - Approval Policies
      parameters:
      - name: filter[id]
        in: query
        required: false
        schema:
          type: string
        description: Filter by id (string)
      - name: filter[custom]
        in: query
        required: false
        schema:
          type: boolean
        description: Filter by custom (boolean)
      - name: filter[status]
        in: query
        required: false
        schema:
          type: string
        description: 'Filter by status (active: 1, archived: 2)'
      - name: filter[type_id]
        in: query
        required: false
        schema:
          type: string
        description: 'Filter by type_id (event: 1, budget: 2)'
      - name: page[number]
        in: query
        required: false
        schema:
          type: integer
          default: 1
      - name: page[size]
        in: query
        required: false
        schema:
          type: integer
          default: 30
          maximum: 200
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data: {}
                  meta:
                    type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Validation error
    post:
      summary: Creates the approval policy POST
      operationId: postApprovalPolicies
      tags:
      - Approval Policies
      parameters: []
      responses:
        '201':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data: {}
                  meta:
                    type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Validation error
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                    attributes:
                      type: object
                    relationships:
                      type: object
  /api/v2/approval_policies/{id}:
    get:
      summary: Gets the approval policy GET
      operationId: getApprovalPoliciesId
      tags:
      - Approval Policies
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: id of the resource
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data: {}
                  meta:
                    type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Validation error
  /api/v2/approval_policies/:
    patch:
      summary: Updates the approval policy PATCH
      operationId: patchApprovalPolicies
      tags:
      - Approval Policies
      parameters: []
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data: {}
                  meta:
                    type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Validation error
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                    attributes:
                      type: object
                    relationships:
                      type: object
  /api/v2/approval_policies/{id}/archive:
    patch:
      summary: Archives the approval policy PATCH
      operationId: patchApprovalPoliciesIdArchive
      tags:
      - Approval Policies
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: id of the resource
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data: {}
                  meta:
                    type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Validation error
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                    attributes:
                      type: object
                    relationships:
                      type: object
  /api/v2/approval_policies/{id}/restore:
    patch:
      summary: Restores the approval policy PATCH
      operationId: patchApprovalPoliciesIdRestore
      tags:
      - Approval Policies
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: id of the resource
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data: {}
                  meta:
                    type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Validation error
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                    attributes:
                      type: object
                    relationships:
                      type: object
  /api/v2/activities:
    get:
      summary: Get activities GET
      operationId: getActivities
      tags:
      - Activities
      parameters:
      - name: filter[after]
        in: query
        required: false
        schema:
          type: string
        description: Filter by after (string)
      - name: filter[before]
        in: query
        required: false
        schema:
          type: string
        description: Filter by before (string)
      - name: filter[booking_id]
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Filter by booking_id (array)
      - name: filter[company_id]
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Filter by company_id (array)
      - name: filter[creator_id]
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Filter by creator_id (array)
      - name: filter[deal_id]
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Filter by deal_id (array)
      - name: filter[discussion_id]
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Filter by discussion_id (array)
      - name: filter[event]
        in: query
        required: false
        schema:
          type: string
          format: date
        description: "Filter by event (create, copy, updateâ\x80¦)"
      - name: filter[expense_id]
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Filter by expense_id (array)
      - name: filter[has_attachments]
        in: query
        required: false
        schema:
          type: string
        description: Filter by has_attachments (string)
      - name: filter[invoice_id]
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Filter by invoice_id (array)
      - name: filter[item_type]
        in: query
        required: false
        schema:
          type: string
        description: "Filter by item_type (Workspace, Task, Page, Dealâ\x80¦)"
      - name: filter[parent_type]
        in: query
        required: false
        schema:
          type: string
        description: "Filter by parent_type (Workspace, Task, Page, Dealâ\x80¦)"
      - name: filter[participant_id]
        in: query
        required: false
        schema:
          type: string
        description: Filter by participant_id (string)
      - name: filter[person_id]
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Filter by person_id (array)
      - name: filter[pinned]
        in: query
        required: false
        schema:
          type: string
        description: Filter by pinned (string)
      - name: filter[project_id]
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Filter by project_id (array)
      - name: filter[purchase_order_id]
        in: query
        required: false
        schema:
          type: string
        description: Filter by purchase_order_id (string)
      - name: filter[root_type]
        in: query
        required: false
        schema:
          type: string
        description: "Filter by root_type (Workspace, Page, Personâ\x80¦)"
      - name: filter[task_id]
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Filter by task_id (array)
      - name: filter[type]
        in: query
        required: false
        schema:
          type: string
        description: 'Filter by type (1: Comment, 2: Changeset, 3: Email)'
      - name: page[number]
        in: query
        required: false
        schema:
          type: integer
          default: 1
      - name: page[size]
        in: query
        required: false
        schema:
          type: integer
          default: 30
          maximum: 200
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data: {}
                  meta:
                    type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Validation error
  /api/v2/activities/{id}:
    get:
      summary: Gets a activity GET
      operationId: getActivitiesId
      tags:
      - Activities
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: id of the resource
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data: {}
                  meta:
                    type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Validation error
  /api/v2/attachments:
    get:
      summary: Get attachments GET
      operationId: getAttachments
      tags:
      - Attachments
      parameters:
      - name: filter[comment_id]
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Filter by comment_id (array)
      - name: filter[page_id]
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Filter by page_id (array)
      - name: filter[task_id]
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Filter by task_id (array)
      - name: page[number]
        in: query
        required: false
        schema:
          type: integer
          default: 1
      - name: page[size]
        in: query
        required: false
        schema:
          type: integer
          default: 30
          maximum: 200
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data: {}
                  meta:
                    type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Validation error
    post:
      summary: Create a attachment POST
      operationId: postAttachments
      tags:
      - Attachments
      parameters: []
      responses:
        '201':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data: {}
                  meta:
                    type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Validation error
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                    attributes:
                      type: object
                    relationships:
                      type: object
  /api/v2/attachments/{id}:
    get:
      summary: Gets a attachment GET
      operationId: getAttachmentsId
      tags:
      - Attachments
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: id of the resource
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data: {}
                  meta:
                    type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Validation error
    patch:
      summary: Update a attachment PATCH
      operationId: patchAttachmentsId
      tags:
      - Attachments
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: id of the resource
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data: {}
                  meta:
                    type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Validation error
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                    attributes:
                      type: object
                    relationships:
                      type: object
    delete:
      summary: Deletes a attachment DELETE
      operationId: deleteAttachmentsId
      tags:
      - Attachments
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: id of the resource
      responses:
        '204':
          description: Deleted
        '404':
          description: Not found
  /api/v2/bills/{id}:
    get:
      summary: Gets a bill GET
      operationId: getBillsId
      tags:
      - Bills
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: id of the resource
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data: {}
                  meta:
                    type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Validation error
    patch:
      summary: Update a bill PATCH
      operationId: patchBillsId
      tags:
      - Bills
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: id of the resource
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data: {}
                  meta:
                    type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Validation error
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                    attributes:
                      type: object
                    relationships:
                      type: object
    delete:
      summary: Deletes a bill DELETE
      operationId: deleteBillsId
      tags:
      - Bills
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: id of the resource
      responses:
        '204':
          description: Deleted
        '404':
          description: Not found
  /api/v2/bills:
    post:
      summary: Create a bill POST
      operationId: postBills
      tags:
      - Bills
      parameters: []
      responses:
        '201':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data: {}
                  meta:
                    type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Validation error
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                    attributes:
                      type: object
                    relationships:
                      type: object
  /api/v2/boards:
    get:
      summary: Get boards GET
      operationId: getBoards
      tags:
      - Boards
      parameters:
      - name: filter[id]
        in: query
        required: false
        schema:
          type: string
        description: Filter by id (string)
      - name: filter[project_id]
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Filter by project_id (array)
      - name: filter[status]
        in: query
        required: false
        schema:
          type: string
        description: 'Filter by status (active: 1, archived: 2)'
      - name: filter[project]
        in: query
        required: false
        schema:
          type: string
        description: Filter by project (string)
      - name: page[number]
        in: query
        required: false
        schema:
          type: integer
          default: 1
      - name: page[size]
        in: query
        required: false
        schema:
          type: integer
          default: 30
          maximum: 200
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data: {}
                  meta:
                    type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Validation error
    post:
      summary: Create a board POST
      operationId: postBoards
      tags:
      - Boards
      parameters: []
      responses:
        '201':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data: {}
                  meta:
                    type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Validation error
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                    attributes:
                      type: object
                    relationships:
                      type: object
  /api/v2/boards/{id}:
    get:
      summary: Gets a board GET
      operationId: getBoardsId
      tags:
      - Boards
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: id of the resource
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data: {}
                  meta:
                    type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Validation error
    patch:
      summary: Update a board PATCH
      operationId: patchBoardsId
      tags:
      - Boards
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: id of the resource
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data: {}
                  meta:
                    type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Validation error
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                    attributes:
                      type: object
                    relationships:
                      type: object
  /api/v2/boards/{id}/archive:
    patch:
      summary: Archives a board PATCH
      operationId: patchBoardsIdArchive
      tags:
      - Boards
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: id of the resource
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data: {}
                  meta:
                    type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Validation error
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                    attributes:
                      type: object
                    relationships:
                      type: object
  /api/v2/boards/{id}/restore:
    patch:
      summary: Restores a board PATCH
      operationId: patchBoardsIdRestore
      tags:
      - Boards
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: id of the resource
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data: {}
                  meta:
                    type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Validation error
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                    attributes:
                      type: object
                    relationships:
                      type: object
  /api/v2/boards/copy:
    post:
      summary: Copy a board POST
      operationId: postBoardsCopy
      tags:
      - Boards
      parameters: []
      responses:
        '201':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data: {}
                  meta:
                    type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Validation error
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                    attributes:
                      type: object
                    relationships:
                      type: object
  /api/v2/boards/{id}/move:
    patch:
      summary: Move a board PATCH
      operationId: patchBoardsIdMove
      tags:
      - Boards
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: id of the resource
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data: {}
                  meta:
                    type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Validation error
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                    attributes:
                      type: object
                    relationships:
                      type: object
  /api/v2/boards/{id}/reposition:
    patch:
      summary: Repoisition a board PATCH
      operationId: patchBoardsIdReposition
      tags:
      - Boards
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: id of the resource
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data: {}
                  meta:
                    type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Validation error
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                    attributes:
                      type: object
                    relationships:
                      type: object
  /api/v2/bank_accounts:
    get:
      summary: Get bank accounts GET
      operationId: getBankAccounts
      tags:
      - Bankaccounts
      parameters:
      - name: filter[id]
        in: query
        required: false
        schema:
          type: string
        description: Filter by id (string)
      - name: filter[bank_name]
        in: query
        required: false
        schema:
          type: string
        description: Filter by bank_name (string)
      - name: filter[name]
        in: query
        required: false
        schema:
          type: string
        description: Filter by name (string)
      - name: filter[subsidiary_id]
        in: query
        required: false
        schema:
          type: string
        description: Filter by subsidiary_id (string)
      - name: filter[status]
        in: query
        required: false
        schema:
          type: string
        description: 'Filter by status (1: active, 2: archived)'
      - name: page[number]
        in: query
        required: false
        schema:
          type: integer
          default: 1
      - name: page[size]
        in: query
        required: false
        schema:
          type: integer
          default: 30
          maximum: 200
      - name: sort
        in: query
        required: false
        schema:
          type: string
          enum:
          - id
          - name
          - -id
          - -name
        description: Sort field. Prefix - for descending.
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data: {}
                  meta:
                    type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Validation error
    post:
      summary: Create a bank account POST
      operationId: postBankAccounts
      tags:
      - Bankaccounts
      parameters: []
      responses:
        '201':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data: {}
                  meta:
                    type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Validation error
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                    attributes:
                      type: object
                    relationships:
                      type: object
  /api/v2/bank_accounts/{id}:
    get:
      summary: Gets a bank account GET
      operationId: getBankAccountsId
      tags:
      - Bankaccounts
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: id of the resource
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data: {}
                  meta:
                    type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Validation error
  /api/v2/bank_accounts/:
    patch:
      summary: Update a bank account PATCH
      operationId: patchBankAccounts
      tags:
      - Bankaccounts
      parameters: []
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data: {}
                  meta:
                    type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Validation error
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                    attributes:
                      type: object
                    relationships:
                      type: object
  /api/v2/bank_accounts/{id}/archive:
    patch:
      summary: Archives a bank account PATCH
      operationId: patchBankAccountsIdArchive
      tags:
      - Bankaccounts
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: id of the resource
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data: {}
                  meta:
                    type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Validation error
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                    attributes:
                      type: object
                    relationships:
                      type: object
  /api/v2/bank_accounts/{id}/restore:
    patch:
      summary: Restores an archived bank account PATCH
      operationId: patchBankAccountsIdRestore
      tags:
      - Bankaccounts
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: id of the resource
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data: {}
                  meta:
                    type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Validation error
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                    attributes:
                      type: object
                    relationships:
                      type: object
  /api/v2/bookings:
    get:
      summary: Get bookings GET
      operationId: getBookings
      tags:
      - Bookings
      parameters:
      - name: filter[id]
        in: query
        required: false
        schema:
          type: integer
        description: Filter by id (integer)
      - name: filter[person_id]
        in: query
        required: false
        schema:
          type: integer
        description: Filter by person_id (integer)
      - name: filter[approver_id]
        in: query
        required: false
        schema:
          type: integer
        description: Filter by approver_id (integer)
      - name: filter[event_id]
        in: query
        required: false
        schema:
          type: integer
        description: Filter by event_id (integer)
      - name: filter[task_id]
        in: query
        required: false
        schema:
          type: integer
        description: Filter by task_id (integer)
      - name: filter[draft]
        in: query
        required: false
        schema:
          type: boolean
        description: Filter by draft (boolean)
      - name: filter[with_draft]
        in: query
        required: false
        schema:
          type: boolean
        description: Filter by with_draft (boolean)
      - name: filter[approved_at]
        in: query
        required: false
        schema:
          type: string
          format: date
        description: Filter by approved_at (date)
      - name: filter[created_at]
        in: query
        required: false
        schema:
          type: string
          format: date
        description: Filter by created_at (date)
      - name: filter[updated_at]
        in: query
        required: false
        schema:
          type: string
          format: date
        description: Filter by updated_at (date)
      - name: filter[rejected_at]
        in: query
        required: false
        schema:
          type: string
          format: date
        description: Filter by rejected_at (date)
      - name: filter[canceled_at]
        in: query
        required: false
        schema:
          type: string
          format: date
        description: Filter by canceled_at (date)
      - name: filter[last_activity_at]
        in: query
        required: false
        schema:
          type: string
          format: date
        description: Filter by last_activity_at (date)
      - name: filter[origin_id]
        in: query
        required: false
        schema:
          type: integer
        description: Filter by origin_id (integer)
      - name: filter[company_id]
        in: query
        required: false
        schema:
          type: integer
        description: Filter by company_id (integer)
      - name: filter[budget_id]
        in: query
        required: false
        schema:
          type: integer
        description: Filter by budget_id (integer)
      - name: filter[project_id]
        in: query
        required: false
        schema:
          type: integer
        description: Filter by project_id (integer)
      - name: filter[tags]
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Filter by tags (array)
      - name: filter[after]
        in: query
        required: false
        schema:
          type: string
          format: date
        description: Filter by after (date)
      - name: filter[before]
        in: query
        required: false
        schema:
          type: string
          format: date
        description: Filter by before (date)
      - name: filter[started_on]
        in: query
        required: false
        schema:
          type: string
          format: date
        description: Filter by started_on (date)
      - name: filter[ended_on]
        in: query
        required: false
        schema:
          type: string
          format: date
        description: Filter by ended_on (date)
      - name: filter[people_custom_fields]
        in: query
        required: false
        schema:
          type: string
        description: Filter by people_custom_fields (string)
      - name: filter[note]
        in: query
        required: false
        schema:
          type: string
        description: Filter by note (string)
      - name: filter[project_type]
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Filter by project_type (array)
      - name: filter[person_type]
        in: query
        required: false
        schema:
          type: string
        description: 'Filter by person_type (1: user, 2: contact, 3: placeholder)'
      - name: filter[approval_status]
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Filter by approval_status (array)
      - name: filter[status]
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Filter by status (array)
      - name: filter[billing_type_id]
        in: query
        required: false
        schema:
          type: integer
        description: Filter by billing_type_id (integer)
      - name: filter[autotracking]
        in: query
        required: false
        schema:
          type: boolean
        description: Filter by autotracking (boolean)
      - name: filter[booking_type]
        in: query
        required: false
        schema:
          type: string
        description: Filter by booking_type (event, service)
      - name: filter[person_subsidiary_id]
        in: query
        required: false
        schema:
          type: integer
        description: Filter by person_subsidiary_id (integer)
      - name: filter[canceled]
        in: query
        required: false
        schema:
          type: boolean
        description: Filter by canceled (boolean)
      - name: page[number]
        in: query
        required: false
        schema:
          type: integer
          default: 1
      - name: page[size]
        in: query
        required: false
        schema:
          type: integer
          default: 30
          maximum: 200
      - name: sort
        in: query
        required: false
        schema:
          type: string
          enum:
          - id (integer)
          - started_on (date)
          - last_activity_at (date)
          - draft (boolean)
          - -id (integer)
          - -started_on (date)
          - -last_activity_at (date)
          - -draft (boolean)
        description: Sort field. Prefix - for descending.
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data: {}
                  meta:
                    type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Validation error
    post:
      summary: Create a booking POST
      operationId: postBookings
      tags:
      - Bookings
      parameters: []
      responses:
        '201':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data: {}
                  meta:
                    type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Validation error
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                    attributes:
                      type: object
                    relationships:
                      type: object
  /api/v2/bookings/{id}:
    get:
      summary: Gets a booking GET
      operationId: getBookingsId
      tags:
      - Bookings
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: id of the resource
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data: {}
                  meta:
                    type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Validation error
    patch:
      summary: Update a booking PATCH
      operationId: patchBookingsId
      tags:
      - Bookings
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: id of the resource
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data: {}
                  meta:
                    type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Validation error
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                    attributes:
                      type: object
                    relationships:
                      type: object
    delete:
      summary: Deletes a booking DELETE
      operationId: deleteBookingsId
      tags:
      - Bookings
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: id of the resource
      responses:
        '204':
          description: Deleted
        '404':
          description: Not found
  /api/v2/bookings/{id}/unapprove:
    patch:
      summary: Unapproves a booking PATCH
      operationId: patchBookingsIdUnapprove
      tags:
      - Bookings
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: id of the resource
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data: {}
                  meta:
                    type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Validation error
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                    attributes:
                      type: object
                    relationships:
                      type: object
  /api/v2/comments:
    get:
      summary: Get comments GET
      operationId: getComments
      tags:
      - Comments
      parameters:
      - name: filter[discussion_id]
        in: query
        required: false
        schema:
          type: string
        description: Filter by discussion_id (string)
      - name: filter[draft]
        in: query
        required: false
        schema:
          type: string
        description: Filter by draft (true, false)
      - name: filter[page_id]
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Filter by page_id (array)
      - name: filter[project_id]
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Filter by project_id (array)
      - name: filter[task_id]
        in: query
        required: false
        schema:
          type: string
        description: Filter by task_id (string)
      - name: filter[workflow_status_category_id]
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Filter by workflow_status_category_id (array)
      - name: page[number]
        in: query
        required: false
        schema:
          type: integer
          default: 1
      - name: page[size]
        in: query
        required: false
        schema:
          type: integer
          default: 30
          maximum: 200
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data: {}
                  meta:
                    type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Validation error
    post:
      summary: Create a comment POST
      operationId: postComments
      tags:
      - Comments
      parameters: []
      responses:
        '201':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data: {}
                  meta:
                    type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Validation error
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                    attributes:
                      type: object
                    relationships:
                      type: object
  /api/v2/comments/{id}:
    get:
      summary: Gets a comment GET
      operationId: getCommentsId
      tags:
      - Comments
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: id of the resource
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data: {}
                  meta:
                    type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Validation error
    patch:
      summary: Update a comment PATCH
      operationId: patchCommentsId
      tags:
      - Comments
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: id of the resource
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data: {}
                  meta:
                    type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Validation error
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                    attributes:
                      type: object
                    relationships:
                      type: object
    delete:
      summary: Deletes a comment DELETE
      operationId: deleteCommentsId
      tags:
      - Comments
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: id of the resource
      responses:
        '204':
          description: Deleted
        '404':
          description: Not found
  /api/v2/comments/{id}/pin:
    patch:
      summary: Pins a comment PATCH
      operationId: patchCommentsIdPin
      tags:
      - Comments
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: id of the resource
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data: {}
                  meta:
                    type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Validation error
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                    attributes:
                      type: object
                    relationships:
                      type: object
  /api/v2/comments/{id}/unpin:
    patch:
      summary: Unpins a comment PATCH
      operationId: patchCommentsIdUnpin
      tags:
      - Comments
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: id of the resource
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data: {}
                  meta:
                    type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Validation error
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                    attributes:
                      type: object
                    relationships:
                      type: object
  /api/v2/comments/{id}/add_reaction:
    patch:
      summary: Adds reaction to a comment PATCH
      operationId: patchCommentsIdAddReaction
      tags:
      - Comments
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: id of the resource
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data: {}
                  meta:
                    type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Validation error
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                    attributes:
                      type: object
                    relationships:
                      type: object
  /api/v2/comments/{id}/remove_reaction:
    patch:
      summary: Removes reaction from comment PATCH
      operationId: patchCommentsIdRemoveReaction
      tags:
      - Comments
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: id of the resource
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data: {}
                  meta:
                    type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Validation error
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                    attributes:
                      type: object
                    relationships:
                      type: object
  /api/v2/contact_entries:
    get:
      summary: Get contact entries GET
      operationId: getContactEntries
      tags:
      - Contact Entries
      parameters:
      - name: filter[person_id]
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Filter by person_id (array)
      - name: filter[company_id]
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Filter by company_id (array)
      - name: filter[invoice_id]
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Filter by invoice_id (array)
      - name: filter[subsidiary_id]
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Filter by subsidiary_id (array)
      - name: filter[contactable_id]
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Filter by contactable_id (array)
      - name: filter[contactable_type]
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Filter by contactable_type (array)
      - name: page[number]
        in: query
        required: false
        schema:
          type: integer
          default: 1
      - name: page[size]
        in: query
        required: false
        schema:
          type: integer
          default: 30
          maximum: 200
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data: {}
                  meta:
                    type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Validation error
    post:
      summary: Create a contact entry POST
      operationId: postContactEntries
      tags:
      - Contact Entries
      parameters: []
      responses:
        '201':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data: {}
                  meta:
                    type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Validation error
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                    attributes:
                      type: object
                    relationships:
                      type: object
  /api/v2/contact_entries/{id}:
    get:
      summary: Gets a contact entry GET
      operationId: getContactEntriesId
      tags:
      - Contact Entries
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: id of the resource
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data: {}
                  meta:
                    type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Validation error
    patch:
      summary: Update a contact entry PATCH
      operationId: patchContactEntriesId
      tags:
      - Contact Entries
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: id of the resource
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data: {}
                  meta:
                    type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Validation error
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                    attributes:
                      type: object
                    relationships:
                      type: object
    delete:
      summary: Deletes a contact entry DELETE
      operationId: deleteContactEntriesId
      tags:
      - Contact Entries
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: id of the resource
      responses:
        '204':
          description: Deleted
        '404':
          description: Not found
  /api/v2/custom_domains:
    get:
      summary: Get custom domains GET
      operationId: getCustomDomains
      tags:
      - Custom Domain
      parameters:
      - name: filter[id]
        in: query
        required: false
        schema:
          type: string
        description: Filter by id (string)
      - name: filter[name]
        in: query
        required: false
        schema:
          type: string
        description: Filter by name (string)
      - name: page[number]
        in: query
        required: false
        schema:
          type: integer
          default: 1
      - name: page[size]
        in: query
        required: false
        schema:
          type: integer
          default: 30
          maximum: 200
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data: {}
                  meta:
                    type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Validation error
    post:
      summary: Create a custom domain POST
      operationId: postCustomDomains
      tags:
      - Custom Domain
      parameters: []
      responses:
        '201':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data: {}
                  meta:
                    type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Validation error
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                    attributes:
                      type: object
                    relationships:
                      type: object
  /api/v2/custom_domains/{id}:
    get:
      summary: Gets a custom domain GET
      operationId: getCustomDomainsId
      tags:
      - Custom Domain
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: id of the resource
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data: {}
                  meta:
                    type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Validation error
    delete:
      summary: Deletes a custom domain DELETE
      operationId: deleteCustomDomainsId
      tags:
      - Custom Domain
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: id of the resource
      responses:
        '204':
          description: Deleted
        '404':
          description: Not found
  /api/v2/custom_field_options:
    get:
      summary: Get custom field options GET
      operationId: getCustomFieldOptions
      tags:
      - Custom Field Options
      parameters:
      - name: filter[custom_field_id]
        in: query
        required: false
        schema:
          type: string
        description: Filter by custom_field_id (string)
      - name: filter[archived]
        in: query
        required: false
        schema:
          type: string
        description: "Filter by archived (â\x80\x98trueâ\x80\x99 or â\x80\x98falseâ\x80\
          \x99)"
      - name: page[number]
        in: query
        required: false
        schema:
          type: integer
          default: 1
      - name: page[size]
        in: query
        required: false
        schema:
          type: integer
          default: 30
          maximum: 200
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data: {}
                  meta:
                    type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Validation error
    post:
      summary: Creates a custom field option POST
      operationId: postCustomFieldOptions
      tags:
      - Custom Field Options
      parameters: []
      responses:
        '201':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data: {}
                  meta:
                    type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Validation error
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                    attributes:
                      type: object
                    relationships:
                      type: object
  /api/v2/custom_field_options/{id}:
    get:
      summary: Gets a custom field option GET
      operationId: getCustomFieldOptionsId
      tags:
      - Custom Field Options
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: id of the resource
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data: {}
                  meta:
                    type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Validation error
    patch:
      summary: Updates a custom field option PATCH
      operationId: patchCustomFieldOptionsId
      tags:
      - Custom Field Options
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: id of the resource
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data: {}
                  meta:
                    type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Validation error
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                    attributes:
                      type: object
                    relationships:
                      type: object
  /api/v2/custom_field_options/{id}/archive:
    patch:
      summary: Archives a custom field option PATCH
      operationId: patchCustomFieldOptionsIdArchive
      tags:
      - Custom Field Options
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: id of the resource
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data: {}
                  meta:
                    type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Validation error
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                    attributes:
                      type: object
                    relationships:
                      type: object
  /api/v2/contracts:
    get:
      summary: Get contracts GET
      operationId: getContracts
      tags:
      - Contracts
      parameters:
      - name: filter[id]
        in: query
        required: false
        schema:
          type: integer
        description: Filter by id (integer)
      - name: filter[contract_interval_id]
        in: query
        required: false
        schema:
          type: integer
        description: Filter by contract_interval_id (integer)
      - name: filter[starts_on]
        in: query
        required: false
        schema:
          type: string
          format: date
        description: Filter by starts_on (date)
      - name: filter[ends_on]
        in: query
        required: false
        schema:
          type: string
          format: date
        description: Filter by ends_on (date)
      - name: filter[next_occurrence_on]
        in: query
        required: false
        schema:
          type: string
          format: date
        description: Filter by next_occurrence_on (date)
      - name: page[number]
        in: query
        required: false
        schema:
          type: integer
          default: 1
      - name: page[size]
        in: query
        required: false
        schema:
          type: integer
          default: 30
          maximum: 200
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data: {}
                  meta:
                    type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Validation error
    post:
      summary: Create a contract POST
      operationId: postContracts
      tags:
      - Contracts
      parameters: []
      responses:
        '201':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data: {}
                  meta:
                    type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Validation error
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                    attributes:
                      type: object
                    relationships:
                      type: object
  /api/v2/contracts/{id}:
    get:
      summary: Gets a contract GET
      operationId: getContractsId
      tags:
      - Contracts
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: id of the resource
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data: {}
                  meta:
                    type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Validation error
    patch:
      summary: Update a contract PATCH
      operationId: patchContractsId
      tags:
      - Contracts
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: id of the resource
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data: {}
                  meta:
                    type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Validation error
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                    attributes:
                      type: object
                    relationships:
                      type: object
    delete:
      summary: Deletes a contract DELETE
      operationId: deleteContractsId
      tags:
      - Contracts
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: id of the resource
      responses:
        '204':
          description: Deleted
        '404':
          description: Not found
  /api/v2/contracts/{id}/generate:
    post:
      summary: Generates new budget POST
      operationId: postContractsIdGenerate
      tags:
      - Contracts
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: id of the resource
      responses:
        '201':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data: {}
                  meta:
                    type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Validation error
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                    attributes:
                      type: object
                    relationships:
                      type: object
  /api/v2/deal_cost_rates:
    get:
      summary: Get deal cost rates GET
      operationId: getDealCostRates
      tags:
      - Deal Cost Rates
      parameters:
      - name: filter[deal_id]
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Filter by deal_id (array)
      - name: filter[person_id]
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
        description: Filter by person_id (array)
      - name: page[number]
        in: query
        required: false
        schema:
          type: integer
          default: 1
      - name: page[size]
        in: query
        required: false
        schema:
          type: integer
          default: 30
          maximum: 200
      - name: sort
        in: query
        required: false
        schema:
          type: string
          enum:
          - rate_cents
          - -rate_cents
        description: Sort field. Prefix - for descending.
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data: {}
                  meta:
                    type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Validation error
    post:
      summary: Create a deal cost rate POST
      operationId: postDealCostRates
      tags:
      - Deal Cost Rates
      parameters: []
      responses:
        '201':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data: {}
                  meta:
                    type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Validation error
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                    attributes:
                      type: object
                    relationships:
                      type: object
  /api/v2/deal_cost_rates/{id}:
    get:
      summary: Gets a deal cost rate GET
      operationId: getDealCostRatesId
      tags:
      - Deal Cost Rates
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: id of the resource
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data: {}
                  meta:
                    type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Validation error
    patch:
      summary: Update a deal cost rate PATCH
      operationId: patchDealCostRatesId
      tags:
      - Deal Cost Rates
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: id of the resource
      responses:
        '200':
          description: Success
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data: {}
                  meta:
                    type: object
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Validation error
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                    attributes:
                      type: object
                    relationships:
                      type: object
    delete:
      summary: Deletes a deal cost rate DELETE
      operationId: deleteDealCostRatesId
      tags:
      - Deal Cost Rates
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: id of the resource
      responses:
        '204':
          description: Deleted
        '404':
          description: Not found
  /api/v2/companies:
    get:
      summary: Get companies GET
      operationId: getCompanies
      tags:
      - Companies
      parameters:
      - name: filter[id]
        in: query
        required: false
        schema:
          type: integer
        description: Filter by id (integer)
      - name: filter[company_id]
        in: query
        required: false
        schema:
          type: integer
        description: Filter by company_id (integer)
      - name: filter[name]
        in: query
[...]
